.ant-modal-content {
  height: 90vh;
}

.ant-modal-header {
  display: none;
}

.ant-modal-body {
  padding: 0px;
}

.home__autocomplete {
  margin-bottom: 16px;
  margin-top: 64px;
}

.home__submit-button {
  position: absolute;
  margin-top: 464px;
}

.title {
  font-family: "SF Pro";
  font-weight: bolder;
  font-size: 40px;
  color: #505050;
  margin-top: 64px;
  margin-left: 16px;
}

#first {
  margin-top: 0px;
  margin-bottom: 24px;
}

.bold-me {
  font-weight: 700;
}

.home__plus {
  border-radius: 32px;
  margin-top: 32px;
}

.ant-btn-primary {
  box-shadow: 0 0 10px 0px #5680FF;
}

.home__input-title {
  margin-bottom: 24px;
}

.ant-btn-background-ghost {
  box-shadow: none;
}