.ant-modal-content {
  height: 90vh;
}

.ant-modal-header {
  display: none;
}

.ant-modal-body {
  padding: 0px;
}

.home__autocomplete {
  margin-bottom: 16px;
  margin-top: 64px;
}

.home__submit-button {
  position: absolute;
  margin-top: 512px;
}

.home__title {
  font-family: "SF Pro";
  font-weight: bolder;
  font-size: 40px;
  color: #505050;
  margin-top: 64px;
  margin-left: 16px;
}

#first {
  margin-top: 0px;
}

.delete{
  margin-left: 65px;
  color: red;
  background-color: transparent;
  border-color: red;
  text-shadow: none;
}

.flex{
  display: flex;
}
