#campus {
  font-size: 200%;
  margin-top: 16px;
}

#left-arrow {
  width: 8%;
  color: #505050;
  margin-left: 16px;
  margin-top: 32px;
}

.prev {
  position: absolute;
  top: 80%;
  left: 7%;
}

.next {
  position: absolute;
  top: 80%;
  right: 7%;
}

.star {
  /* position: absolute; */
  margin-top: 625px;
  left: 0;
  right: 0;
}

.iconArrow {
  position: relative;
  margin-top: 20px;
  margin-left: 12px;
  font-size: 30px;
}

.mainTitle {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-left: 24px;
  line-height: 100%;
  margin-top: 24px;
  width: 80%;
}

.mapHolder {
  padding-top: 50px;
}

.audio-tour-container {
  overflow: hidden;
}

.Title {
  text-align: center;
  position: absolute;
}

.positioning {
  position: absolute;
}
