#campus {
  font-size: 200%;
  margin-top: 16px;
}

#left-arrow {
  width: 8%;
  color: #505050;
  margin-left: 16px;
  margin-top: 32px;
}

.prev {
  position: absolute;
  top: 80%;
  left: 7%;
}

.next {
  position: absolute;
  top: 80%;
  right: 7%;
}

.iconArrow {
  position: relative;
  margin-top: 20px;
  margin-left: 12px;
  font-size: 30px;
}

.mainTitle {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-left: 24px;
  line-height: 100%;
  width: 80%;
  margin-bottom: 4px;
}

.schoolTitle {
  text-align: left;
  margin-left: 36px;
  margin-bottom: 0px;
  font-family: "SF Pro";
  font-weight: 500;
  margin-top: 24px;
}

.audio-tour-container {
  overflow: hidden;
  height: 100vh;
}

.Title {
  text-align: center;
}

.carousel-container {
  text-align: center;
  margin-top: 500px
}
.phone-container, .rate-container {
  margin-left: 24px;
}
