body {
  margin: 0;
  font-family: "SF Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-modal-header, .ant-modal-footer {
  border: none;
  display: none
}

@font-face {
  font-family: "SF Pro";
  src: url('./assets/fonts/SF-Pro-Display-Medium.otf')
}

@font-face {
  font-family: "SF Pro";
  src: url('./assets/fonts/SF-Pro-Display-Heavy.otf');
  font-weight: bolder;
}

input {
  background-color: #979797;
}
