.background {
  height: 100vh;
  display: flex;
}

.section1 {
  width: 35%;
  display: flex;
  background-repeat: no-repeat;
  height: 100%;
}

.section2 {
  width: 65%;
  display: grid;
}

.section2inner {
  margin: auto;
  width: 45%;
  height: 55%;
  -webkit-box-shadow: -1px 2px 24px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 24px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 24px -12px rgba(0,0,0,0.75);
}

.section2Padding {
  padding: 8%;
}

input {
  background: none;
  border: none;
}
input:focus {
  background: white;
}

input:focus {
  outline:none;
}

button {
  border: none;
}

button:focus {
  outline:none;
}

.input {
  border: solid;
  border-color: #E8E8E8;
  border-width: 2px;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.second {
  margin-top: 4%;
}

.Login {
  border-radius: 4px;
  width: 100%;
  margin-top: 8%;
  padding: 16px;
  color: white;
  font-weight: 500;
  background-image: linear-gradient(to right, #006DD2, #04DCBF);
}

.text {
  font-weight: 500;
  font-size: 16px;
}

.section2Header {
  font-size: 3.2em;
}

.forgotPwd {
  padding-top: 12px;
  font-weight: 500;
}

.particles {
  position: absolute;
  width:80%;
  height:100%;
  z-index: -2;
}

.toggle {
  width: 5%;
  height: 5%;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(232, 232, 232, 0.49);
  margin-top: 5%;
  margin-left: 5%;
  display: grid;
}

.pinpoint {
  margin: auto;
  width: 40%;
}

.titleBox {
  margin-left: 6%;
}

.landing__title {
  font-weight: 300;
  color: white;
  font-size: 5em;
}

#landing-title {
  font-size: 48px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  width: 90%;
  font-family: "SF Pro";
  font-weight: 700;
  color: #505050;
}

.globe {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 20%;
}

#get-started {
  margin-bottom: 32px;
  margin-top: 16px;
}

.landing__left {
  margin-top: 10%;
}

.landing__header {
  font-family: "SF Pro";
  font-weight: 700;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 24px;
  margin-bottom: -4px;
}

.landing-title-description {
  width: 80%;
  text-align: center;
}

.info {
  background-color: #505050;
  height: 100%;
  width: 100%;
}

.info-item {
  text-align: center;
}

.info-item-image {
  width: 15%;
  margin-top: 6%;
  margin-bottom: 4%;
}

.info-description {
  font-family: "SF Pro";
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.footer {
  background-color: #787878;
  text-align: center;
}

.Innerfooter {
  color: white;
  padding: 8px;
  font-size: 16px;
}

.InnerLogos {
  display: flex;
  font-size: 20px;
  text-align: center;
}
